@tailwind base;
@tailwind components;
@tailwind utilities;


.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  /* Add these styles to your CSS file */
/* styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');



.text {
  text-align: center;
  position: relative;
  font-size: 7em;
}

.text0,
.text2 {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.text1,
.text3 {
  color: black;
  -webkit-text-fill-color: #bc0000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

#dummy {
  position: relative;
  height: 100vh;
  width: 100%;
}

#back {
  position: relative;
  padding-top: 50%;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  #back {
    cursor: none;
    font-size: 0.8em;
  }
  .text {
    font-size: 2.25em;
  }
}
